beartype==0.15.0
cerberus==1.3.7
coverage==7.4.0
datasets==2.17.1
dill==0.3.9
einops
filetype==1.2.0
https://github.com/NVIDIA/dllogger/archive/26a0f8f1958de2c0c460925ff6102a4d2486d6cc.zip
inflect
jaxtyping
kenlm==0.2.0
levenshtein_rs==0.1.7
librosa==0.11.0
more-itertools==10.3.0
numpy==1.26.4
orjson==3.10.6
pandas==2.2.3
pydantic==2.11.2
pytest
qtorch==0.3.0
ruamel.yaml==0.18.6
sentencepiece==0.1.96
snakeviz==2.2.0
soundfile
sox==1.4.1
tensorboard
text_unidecode==1.3
wtpsplit==2.0.6
yappi==1.5.1
zmq==0.0.0
pyarrow
pyarrow_hotfix
